.eatured-works{
  width: 100%;
}

.featured-title{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 129px;
}


.section__title-second{
  display: flex;
  justify-content: flex-start;
  margin-top: 17px;
}

.featured-contant{
  width: 1160px;
  height: 731px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 149px;
  margin-top: 121px;
}
.contant-image{
  width: 371px;
  height: 360px;
  overflow: hidden;
  margin-left: 14px;
  margin-bottom: 14px;
}

.contant-image_zero{
  background-image: url(/image/works1.png);
  width: 371px;
  height: 360px;
  overflow: hidden;
  background-size: cover;
  background-position: center ;

}

.contant-image_six{
  background-image: url(/image/works6.png);
  width: 371px;
  height: 360px;
  overflow: hidden;
  background-size: cover;
  background-position: center ;
}

