.featured-title{
  text-transform: uppercase;
}


.featured-contant{
  width: 1141px;
  height: 731px;
  display: flex;
  flex-wrap: wrap;
}
.contant-image{
  width: 371px;
  height: 360px;
  background-size: 371px;
  overflow: hidden;
}



.contant-image{

}
