@import "mixins.scss";
@import "placeholder.scss";

.team-title{
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.team-title{
  margin-top: 100px;
  text-transform: uppercase;
}

.team-content{
  margin-top: 122px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.person{
  width: 371px;
  height: 441px;
  margin-bottom: 15px;
  margin-left: 14px;
}

.person_one{
  background-image: url(/image/team/1.png);
}

.person_two{
  background-image: url(/image/team/2.png);
  position: relative;
}

.triangle{
  background-image: url(/image/team/7.png);
  width: 43px;
  height: 38px;
  margin-top: 165px;
  margin-left: 26px;
}

.window{
  background-color: #6DF6EB;
  width: 336px;
  height: 242px;
  margin-left: 18px;
  position: absolute;
  top: 184px;
}


.window-title{
font-size: 2.0rem;
font-weight: bold;
color: #272727;
opacity: 0.9490196078431372;
margin-top: 44px;
margin-left: 39px;
}

.window-text{
width: 239px;
margin-left: 39px;
opacity: 0.8;
}

.window-links{
  display: flex;
  width: 100px;
  margin-left: 40px;
}

.links{
  margin-left: 15px;
  opacity: 0.7019607843137254;
  &:hover{
    opacity: 1; 
  }
}

.regular-text{
  font-weight: normal;
}

.person_three{
  background-image: url(/image/team/3.png);
}

.person_four{
  background-image: url(/image/team/4.png);
}

.person_five{
  background-image: url(/image/team/5.png);
}

.person_six{
  background-image: url(/image/team/6.png);
}